.DetailPage {
  display: flex;
  height: 100vh;
  margin-top: 2%;
  margin-left: 6%;
  margin-right: 6%;
  overflow: hidden;
  flex-wrap: wrap;

  .sidebar {
    height: 80%;
    width: 15%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    overflow: auto;
    margin-right: 2%;
    border-radius: 15px;
    box-sizing: border-box;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;

      .name {
        padding: 10px;
        cursor: pointer;
        color: #fff;
        text-decoration: none;

        &:hover {
          background-color: #444;
          border-radius: 5px;
        }
      }
    }
  }

  .content {
    flex: 1;
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    width: 70%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
      color: #fff;
    }

    .providersTable {
      width: 100%;
      border-collapse: collapse; /* 移除默认表格线 */
      background-color: #333; /* 表格整体背景颜色 */
      border-radius: 10px; /* 表格整体圆角 */
      overflow: hidden; /* 处理边界溢出 */

      th,
      td {
        padding: 12px; /* 增加单元格内边距 */
        text-align: left; /* 左对齐文字 */
        color: #ddd; /* 浅灰文字 */
      }

      th {
        background-color: #444; /* 表头背景颜色 */
        font-weight: bold;
        color: #fff; /* 白色文字 */
        text-transform: uppercase; /* 全大写文字 */
        font-size: 0.95rem; /* 表头字体略小 */
      }

      tr {
        &:nth-child(even) {
          background-color: #383838; /* 偶数行背景色略深 */
        }
        &:nth-child(odd) {
          background-color: #333; /* 奇数行背景色略浅 */
        }
        &:hover {
          background-color: #444; /* 鼠标悬停背景色 */
        }
      }

      td {
        background-color: transparent; /* 移除单元格边框感 */
        font-size: 0.9rem; /* 略小的字体 */
      }

      .online {
        color: #27ae60; /* 绿色文字 */
        font-weight: bold; /* 加粗状态文字 */
      }

      .offline {
        color: #f39c12; /* 橙色文字 */
        font-weight: bold;
      }

      .error {
        color: #e74c3c; /* 红色文字 */
        font-weight: bold;
      }
    }
  }

  .Topline button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.textPart {
  background-color: #444; /* 深灰背景 */
  padding: 20px;
  border-radius: 10px;
  color: white; /* 白色文字 */
  height: 90vh;
  overflow-y: auto;

  p {
    font-size: 1rem;
    line-height: 1.5;
    color: #ddd; /* 浅灰文字 */
  }

  a {
    color: #007bff; /* 链接的蓝色 */
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
