.Downsection{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:#1f1f1f;
    border: 1px solid #ccc;          // 边框颜色
    border-radius: 8px;              // 圆角
    padding: 20px;                    // 内边距
    margin-bottom: 16px;              // 底部外边距
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // 阴影效果
    position:relative;
    background-image: url('../../picture/kagami.jpg'); /* 背景图片 */
    background-size: cover; /* 背景图片覆盖整个容器 */
    background-position: center; /* 背景图片居中 */
    background-repeat: no-repeat; /* 背景图片不重复 */
    color: white; /* 确保文字颜色在背景上可见 */
}
.divider {
    border-bottom: 1px solid #adacac;
    margin: 10px -8px;

}
.spanContainer {
    display: flex;
    flex-direction: row; /* 使子元素横向排列 */
    margin-top: 10px; /* 添加一些顶部间距 */
    justify-content: space-evenly;
}
.spanContainer span {
    cursor: pointer; /* 鼠标悬停时显示手型光标 */
    padding: 5px 10px; /* 添加一些内边距 */
    border: 1px solid transparent; /* 初始边框透明 */
    border-radius: 4px; /* 添加圆角 */
    transition: border-color 0.3s; /* 添加边框颜色过渡效果 */
}
.spanContainer span:hover {
    border-color: #f6f3f3; /* 鼠标悬停时显示边框 */
}
.contentContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 100%;
}

.names {
    flex: 1;
    color: white;
    overflow-y: auto;
    margin-right:-25%;
}



.nameItem {
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s;
    margin-right:1%;
}

.nameItem:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.verticalDivider {
    width: 2px;
    background-color: #f6f3f3;
    margin: 0 5px;
}

.content {
    flex: 3;
    color: white;
    overflow-y: auto;
    margin-left: -350px; /* 确保内容区域与 .names 区域对齐 */
    padding-left: 350px; /* 确保内容区域与 .names 区域对齐 */
}
