.AdSection {
    padding: 20px;
    background-color: #f9f9f9;
    height: auto;
  }
.Title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.title{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:azure;
}
  
  .bottom {
    list-style-type: none;
    padding: 0;
  }
  
  .announcementBox {
    background-color:#1f1f1f;
    border: 1px solid #ccc;          // 边框颜色
    border-radius: 8px;              // 圆角
    padding: 20px;                    // 内边距
    margin-bottom: 16px;              // 底部外边距
              // 背景颜色
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // 阴影效果
    position:relative;
    background-image: url('../../picture/kagami.jpg'); /* 背景图片 */
    background-size: cover; /* 背景图片覆盖整个容器 */
    background-position: center; /* 背景图片居中 */
    background-repeat: no-repeat; /* 背景图片不重复 */
    color: white; /* 确保文字颜色在背景上可见 */
  }
  
  .announcementBox h2 {
    margin-top: 0;
    color: #f9f9f9;
  }
  
  .content {
    white-space: pre-wrap;            // 处理换行符
    color:aliceblue;
  }
  
  .content p {
    margin: 8px 0;
    color:aliceblue
  }
  
  .content strong {
    color: #f9f9f9;
  }
  
  small {
    display: block;
    margin-top: 12px;
    color:#f9f9f9;
  }
  