.modalOverlay {
    position: fixed; /* 固定在视口 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 5; /* 确保在最上层 */
    padding-top: 10vh;;
  }

  .modalContent {
    background: #333; /* 弹窗背景色 */
    border-radius: 10px; /* 圆角 */
    padding: 20px; /* 内间距 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 阴影效果 */
    width: 400px; /* 弹窗宽度 */
    max-width: 90%; /* 响应式：限制最大宽度 */
    position: relative; /* 为关闭按钮定位提供上下文 */
    animation: fadeIn 0.3s ease-in-out; /* 弹窗淡入动画 */
    color:white;
  }

  .closeButton {
    position: absolute; /* 固定在弹窗右上角 */
    top: 10px;
    right: 10px;
    background: transparent; /* 透明背景 */
    border: none; /* 去掉边框 */
    font-size: 1.5rem; /* 按钮字体大小 */
    cursor: pointer; /* 鼠标变成手形 */
    color: #f9f4f4; /* 默认颜色 */
    transition: color 0.3s ease; /* 鼠标悬停效果 */

    &:hover {
      color: #007bff; /* 鼠标悬停颜色 */
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.8); /* 初始缩放 */
    }
    to {
      opacity: 1;
      transform: scale(1); /* 最终大小 */
    }
  }
